@import "../abstracts/variables.scss";

a {
  list-style: none;
  color: aliceblue;
  text-decoration: none;
  font-size: $font-size-m;

  &:hover,
  &:focus {
    color: lightgray;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .contact-desc {
    padding: 0.4rem 0.6rem;
    width: clamp(300px, 100%, 890px);
    font-size: clamp(0.89rem, 1.03vw, 1.6rem);
  }
}

.contact-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.69rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.4rem;
  //   grid-template-rows: minmax(100px, auto);
}

.contact-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.9rem;
  font-size: $font-size-m;
  overflow-wrap: unset;
  word-break: unset;
  word-wrap: unset;
  //   background-color: aliceblue;
}

.contact-container a {
  display: flex;
  align-items: center;
  gap: 0.69rem;
}
