@import "../abstracts/variables.scss";

header {
  border: 2px solid #2c63e4;
  border-radius: 1rem;
  margin: 1.3rem 1.9rem;
  padding: 1.2rem;
}

.header-name {
  font-size: $font-size-sub-head;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    list-style: none;
    color: aliceblue;
    text-decoration: none;

    &:hover,
    &:focus {
      color: lightgray;
    }
  }
}

.theme-icon {
  transition: all 3s;
}
