$bg-color-light: #f5f8fe;
$bg-color-dark: #0e2043;
$font-color-light: #000;
$font-color-dark: #f5f8fe;

//Font
@font-face {
  font-family: "Outfit";
  src: url(../../assets/fonts/Outfit-Medium.ttf);
}
$font-family: "Outfit";
$font-size-head: clamp(1.5rem, 2.5vw, 3.6rem);
$font-size-sub-head: clamp(1.3rem, 2vw, 3rem);
$font-size-content: clamp(0.83rem, 1.1vw, 1.6rem);
$font-size-m: clamp(0.95rem, 1vw, 1.6rem);
$font-size-l: clamp(1.29rem, 1.69vw, 2rem);
$font-size-s: clamp(0.84rem, 0.94vw, 0.96rem);
